#root {
  max-width: 1200px;
  margin: 0 auto;
padding-left: 20px;
padding-right: 20px;
font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  /* background-image: url(../src/assets/img/pexels-pixabay-210764.jpg);
  background-size: 100% 100%; */

}
